.mountain-product-card {
  width: 100%;
  margin: 0 auto;
  background:  #2C1810;
  border-radius: 12px;
  padding: 0;
  transition: all 0.3s ease;
  position: relative;
  overflow: visible;
  box-shadow: 0 5px 20px rgba(44, 24, 16, 0.1);
  border: 1px solid  #5D4037;
}
.mountain-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(212, 175, 55, 0.2);
}

.mountain-product-image {
  height: 300px;
  margin: 0 auto;
  overflow: visible;
  border-radius: 12px 12px 0 0;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.mountain-product-info {
  padding: 1.3rem;
}

.mountain-product-info h2 {
  font-family: 'Philosopher', serif;
  margin-bottom: 0.8rem;
  color: #FDF6E3;
}

.mountain-product-info p {
  color: #E8DCD1;
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  line-height: 1.4;
  font-weight: 300;
}

.mountain-product-price {
  font-family: 'Philosopher', serif;
  font-size: 1.4rem;
  color: #fffaec;
  margin-bottom: 1.2rem;
  text-align: center;
  font-weight: 500;
}

.mountain-add-to-cart {
  background: #5D4037;
  color: #fffaec;
  border: none;
  padding: 1rem 2rem;
  border-radius: 25px;
  font-family: 'Philosopher', serif;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}
.mountain-add-to-cart:hover {
  border: 0.1px solid rgba(212, 175, 55);
  transform: translateY(-2px);
}

@media (max-width: 425px) {
.mountain-product-card {
  width: 300px;
}
    .mountain-product-image {
    height: 180px;
    padding: 0;
  }
.mountain-product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 65%;
  border-radius: 12px 12px 0 0;
}
}
@media (max-width: 360px) {

  .img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}
}

