@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;500;700&family=Open+Sans:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* [data-theme="dark"] {
  --bg-primary: #1A120B;
  --bg-secondary: #2C1810;
  --text-primary: #FDF6E3;
  --text-secondary: #F8F8F8;
  --accent-primary: #D4AF37;
  --accent-secondary: #8B6B3C;
  --card-bg: #2C1810;
  --border-color: #5D4037;
  --header-bg: linear-gradient(135deg, #1A120B 0%, #2C1810 100%);
} */